__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env
.env.*
.ipynb_checkpoints/

data/
build/
*.gexf
*.graphml
*.jsonl
*.csv

.vscode/
.idea/
.DS_Store
data/
logs/
*.jsonl
*.csv
*.gexf
twitter_cookies.json
